<%- include('../layout/adminheader'); -%>


<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="widget wid-categories">
                <div class="heading"><h4>Products</h4></div>
                <div class="content">
                    <ul>
                        <li><a href="/admin/add-product">Add Product</a></li>
                        <li><a href="/admin/all-product">Show All Products</a></li>
                        
                        <li><a href="#">Kids Fashion</a></li>
                        <li><a href="#">New Fashion</a></li>
                        <li><a href="#">Hot Fashion</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9">

        </div>
    </div>
</div>
















<%- include('../layout/userfooter'); -%>